 {% extends 'base.html.twig' %}
 {% block title %} Login{% endblock %}

{% block body %}

<!-- message -->
{% if error %}
        <div style=" border-color: #d32f2f;background-color: #ef5350; color: white; width:100%;
          border: 1px solid;padding:10px;margin: 20px;color: white;">{{ error.messageKey }}</div>
{% endif %}

<div class="section"></div>
  <main>
    <center>
      <div class="section"></div>

      <h5 class="indigo-text">Please, login into your account</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

         <form method="post" action="{{path('login')}}">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' value="admin" type='text' name='_username' id='email' />
                <label for='email'>Enter your Login</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' value="admin" type='password' name='_password' id='password' />
                <label for='password'>Enter your password</label>
              </div>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
{% endblock %}

 