{% extends 'base.html.twig' %}


{% block title %} Create property {% endblock %}

{% block body %}

<!-- form -->
<div style="text-align: left;">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn" value="Create" />
{{ form_end(form) }}
</div>

{% endblock %}