<html lang="en">
<head>
  {{ include('include/header.html.twig') }}
  <title>{% block title %} {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
</head>
<body>
 <!-- menu -->
 {{ include('menu/menu.html.twig') }}

  <div class="section no-pad-bot" id="index-banner">
    <!-- container -->
    <div class="container">
      <br><br>
      
      <!-- body -->
      <div class="row center">
       {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
      </div> 
        <br>
    </div>
  </div>
   
   <!-- footer -->
   {{ include('include/footer.html.twig') }}
   {{ include('include/scripts.html.twig') }}
  </body>
</html>
