{% extends 'base.html.twig' %}
{% block title %} 
Home 
{% endblock %}

{% block body %}
{% for property in properties %}

{{property.title}}

<a href="{{ path('show', {'id': property.id}) }}">{{property.title}}</a>

{% endfor %}
{% endblock %}